*{ box-sizing: border-box; }
a{ text-decoration: none;color: currentcolor; }
html,body{ height: 100%; }
html{ font-size: $rem; }
body{ font-size: 16px;font-family: "Work Sans", Arial, sans-serif; }
body::before{ content: "";position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: url('http://demo.cssmoban.com/cssthemes4/ft5_71_story/images/loader.gif') center center no-repeat;background-size: 60px 60px; }

.float-flow{
  &::before, &::after{ content: '';display: block;height: 0;clear: both; }
  &>.item{ display: block;float: left; }
}

.flex-flow{
  &{ display: flex;flex-wrap: wrap;align-items: flex-start;justify-content: flex-start;align-content: flex-start; }
  &.inline.inline{ display: inline-flex; }
	&>.item{ 
    &{ align-items: center;justify-content: space-between;justify-content: center; }
    &>.item{ flex: 0 1 auto;text-align: center; }
    &.start{ justify-content: flex-start; }
    &.center{ justify-content: flex-start; }
    &.end{ justify-content: flex-start; }
    &.between{ justify-content: space-between; }
    &.around{ justify-content: space-around; }
  }
}

.flex-box.flex-box{
  &{ display: flex;align-items: center;justify-content: center; }
  &.start{ justify-content: flex-start; }
  &.center{ justify-content: flex-start; }
  &.end{ justify-content: flex-end; }
  &.between{ justify-content: space-between; }
  &.around{ justify-content: space-around; }
}

@include columns();
