html, body {
  width: 100%;
  height: 100%;
}

#app {
  &::before,  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
  }

  &::before {
    top: 0;
    background: #FCD07C;
  }

  &::after {
    bottom: 0;
    background: #F7E5C9;
  }
}

.layer {
  & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  & .layer__item {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .layer__main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 375px;
    height: 667px;
    transform: translate(-50%, -50%);
    z-index: 40;
  }

  .layer__item-cover {
    & {
      width: 335px;
      height: 187px;
      background: #FFF;
      z-index: 40;
      box-shadow: 0 0 4px rgba(51, 51, 51, 0.6);
      border-radius: 3px;
      overflow: hidden;
      box-sizing: border-box;
      padding: 4px;
      position: absolute;
      left: 50%;
      bottom: 314px;
      transform: translateX(-50%) rotate(-3deg);
    }
    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__item-envelope {
    & {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    & > img {
      width: 100%;
    }
  }

  &__item-stamp {
    & {
      position: absolute;
      right: 35px;
      bottom: 235px;
      width: 135px;
      height: 54px;
      z-index: 30;
      transform: rotate(5deg);
      overflow: hidden;
      border-radius: 2px;
      text-align: center;
      background: #FFF;
      font-size: 0;
    }

    & > img {
      max-height: 100%;
      max-width: 100%;
      position: relative;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__item-address {
    & {
      position: absolute;
      right: -26px;
      bottom: 132px;
      transform: rotate(5deg) scale(0.5);
      font-size: 20px;
      line-height: 40px;
      width: 264px;
      height: 128px;
      color: #7b7272;
    }
    .address__item {
      height: 42px;
      display: block;
      width: 264px;
      white-space: nowrap;
    }

    .address__item-name {
      padding-bottom: 8px;
    }

    .address__item-text {
      white-space: normal;
    }
  }

  &__item-text {
    & {
      width: 135px;
      position: absolute;
      left: 40px;
      bottom: 206px;
      transform: rotate(5deg);
    }

    & > img {
      width: 100%;
    }
  }
}

.operation {
  & {
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 0;
    // min-height: 120px;
    background: #fff;
    z-index: 100;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    padding: 10px;
  }
  &__tabs {
    $--height: 28px;

    & {
      display: none;
      font-size: 0;
      background: #EEEEEE;
      border-radius: $--height / 2;
    }

    &--active {
      display: block;
    }

    .tabs__item {
      & {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        width: 25%;
        text-align: center;
        line-height: $--height;
        color: #c3b8b8;
        cursor: pointer;
      }

      &--active {
        background: #FEB236;
        border-radius: $--height / 2;
        box-shadow: 0 0 6px rgba(51, 51, 51, 0.4);
        color: #fff;
      }
    }
  }
}

.operation__body {
  & > dl {
    display: none !important;
  }

  .poster {
    overflow: auto;
    white-space: nowrap;
    font-size: 0;
    display: none;
    margin: 10px 0;
  }

  .poster--active {
    display: block !important;
  }

  .poster__item {
    & {
      display: inline-block;
      font-size: 0;
      letter-spacing: 0;
      width: 135px;
      height: 60px;
      box-sizing: content-box;
      position: relative;
      margin: 10px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
      overflow: hidden;
    }

    & > img {
      width: 100%;
    }

    &--active::before {
      content: "";
      background: url(../asset/222.png);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
    }
  }

  .uploader {
    &__area {
      & {
        text-align: center;
        margin-top: 15px;
      }

      & > a {
        & {
          display: inline-block;
          width: 270px;
          height: 120px;
          box-sizing: border-box;
          border: 1px dashed #a9a1a1;
          color: #a9a1a1;
          padding: 22px 0;
          position: relative;
          overflow: hidden;
          text-align: center;
        }

        & > img {
          position: absolute;
          max-height: 100%;
          max-width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & > i {
          display: inline-block;
          border: 1px solid;
          border-radius: 50%;
          font-size: 32px;
          width: 40px;
          line-height: 40px;
          text-align: center;
          font-weight: 300;

          &::before {
            display: inline-block;
            content: "+";
            position: relative;
            bottom: 2px;
            font-weight: 100;
          }
        }

        & > span {
          display: block;
          margin-top: 5px;
        }

        & > input {
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }
    }

    &__operation {
      & {
        text-align: center;
        margin-top: 15px;
      }

      & > span {
        $--main-color: rgb(255, 52, 0);

        & {
          line-height: 40px;
          font-size: 16px;
          border-radius: 20px;
          border: 1px solid #ff3400;
          display: inline-block;
          width: 132px;
          margin: 0 15px;
          opacity: 0.4;
        }

        &.uploader__operation-left {
          color: $--main-color;
        }

        &.uploader__operation-right {
          background: $--main-color;
          color: #FFFFFF;
        }
      }

      &--active {
        & > span {
          opacity: 1;
        }
      }
    }
  }

  .address {
    & {
      padding-top: 15px;
    }

    &__item {
      & > input {
        border: 1px solid #c3b8b8;
        width: 100%;
        line-height: 40px;
        margin-bottom: 15px;
        font-size: 16px;
        border-radius: 2px;
        padding: 0 5px;
        box-sizing: border-box;
        background: #EAEAEA;
      }
    }

    &__item-button {
      & {
        text-align: center;
        opacity: 0.4;
      }

      &--active {
        opacity: 1;
      }

      & > span {
        display: inline-block;
        line-height: 40px;
        background: #ff3400;
        color: #FFFFFF;
        border-radius: 20px;
        width: 204px;
        text-align: center;
        font-size: 16px;
      }
    }
  }

  .draw-operation {
    $--main-color: rgb(255, 52, 0);

    & {
      text-align: center;
      margin: 15px 0;
    }

    .draw-operation__item {
      line-height: 40px;
      font-size: 16px;
      border-radius: 20px;
      border: 1px solid #ff3400;
      display: inline-block;
      width: 132px;
      margin: 0 15px;
    }

    &-left {
      color: $--main-color;
    }

    &-right {
      background: $--main-color;
      color: #FFFFFF;
    }
  }

  .draw-finish__tip {
    text-align: center;
    color: #6262f3;
  }
}

.layer__item-canvas-image {
  & {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    background: rgb(250, 235, 201);
  }

  & > dl {
    background: #FFFFFF;
    padding: 6px;
    display: inline-block;
    position: relative;
    left: 50%;
    top: calc(50% - 50px);
    transform: translate(-50%, -50%);
    // margin-top: 30px;
    width: 300px;
    height: 533px;
    box-sizing: content-box;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }

  img {
    width: 100%;
    height: 100%;
  }
}