#app{
  &{ @include posFull();overflow: hidden; }
  
  &>.route{ position: absolute;top: 0;right: 0;bottom: 0;left: 0;box-shadow: 0 0 3px rgb(180, 180, 180);overflow: auto;-webkit-overflow-scrolling: touch; }
}

.weui-loading_toast{
  .weui-toast__content{ margin: px2rem(15px) 0; }
}
.vendor-toast{
  .weui-icon_toast{ display: none; }
  .weui-toast{ min-height: 0;top: px2rem(240px);transform: translateX(-50%);margin-left: 0;width: auto; }
  .weui-toast__content{ margin: px2rem(15px);font-size: px2rem(16px);line-height: px2rem(24px); }
}

.task{
  $drution: 0.35s;
  &-in-enter-active{ animation: slideInUp $drution ease-in-out; }
  &-in-leave-active{ animation: slideOutUp $drution ease-in-out;  }

  &-out-enter-active{ animation: slideInDown $drution ease-in-out; }
  &-out-leave-active{ animation: slideOutDown $drution ease-in-out;  }
}

.slide{
  $drution: 0.35s;
  &-prev-enter-active{ animation: slideInLeft $drution ease-in-out; }
  &-prev-leave-active{ animation: slideOutRight $drution ease-in-out;  }

  &-next-enter-active{ animation: slideInRight $drution ease-in-out; }
  &-next-leave-active{ animation: slideOutLeft $drution ease-in-out;  }
}